@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Work+Sans&display=swap');


:root {
  --primary: #201d18;
  --secondary: #33302b;
  --orange: #dc7b12;
  --green: #6b7749;
  --darkblue: #245d76;
  --darkred: #873a13;
  --lightgrey: #9f9fa1;
  --grey: #efeae4;
  --darkgrey: #787673;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: calc(10px + 0.5vw);
  line-height: 1.20;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary);
  color: white;
}

html, body {
  height:100%;
}

.intro img {
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  max-height: 50vh;
}

.index-header {
  margin: 0 auto;
  padding: 0.5em 1.5em 0.5em 1.5em;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
  top: 2em;
}

.subtitle {
  position: absolute;
  top: 4em;
  left: 3em;
  color: var(--orange);
  font-style: italic;
  opacity: 0;
  animation: appear 4s ease 0s forwards;
}

.sticky {
  position: fixed;
  background-color: var(--primary);
  border-bottom: 2px ridge black;
  top: 0;
  width: 100%
}

.index-header h1 {
  display: inline-block;
  font-size: 2.2em;
}

.dropdown {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 1.5em 0 0 0;
  overflow: hidden;
  float: right;
  text-shadow: 2px 2px 2px black;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5em;
  right: 0;
  z-index: 2;
  font-size: 1.3em;
  text-align: left;
}

.dropdown-content a {
  margin: 0 auto;
  padding: 0.5em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;

}

.dropdown-content a:hover {
  color: var(--orange);
}

.separator {
  color: var(--lightgrey);
  margin-top: 2em;
}

.achievements-banner img {
  width: 100%;
  height: 25em;
  opacity: 0.7;
  object-fit: cover;
  object-position: 0 0;
}

.top-offset {
  padding-top: 8em;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title h1{
  margin: 0;
  padding: 0.2em;
  position: relative;
  left: -100vw;
  animation: slide 1s ease 0s forwards;
}

.filler{
  height: 0.5em;
  background-color: var(--green);
  animation: grow 1s ease 1s forwards;
}

@keyframes slide {
  from {left: -100vw;}
  to {left: 0;}
}

@keyframes grow {
  from {width: 0%;}
  to {width: 33%;}
}

#about-me .content {
  text-align: left;
}

.text {
  padding: 3em;
}

#me-photo {
  text-align: left;
  position: absolute;
}

#me-photo img {
  position: relative;
  bottom: 3em;
  left: 2em;
  width: 8em;
  border-radius: 50%;
  box-shadow: 4px 4px 4px black;
  z-index: 1;
  opacity: 0;
  animation: appear 2s ease 2s forwards;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.stronger {
  font-weight: bold;
  font-size: 1.2em;
}

.content h2 {
  text-align: center;
}

.skills {
  background-image: url(img/code.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.skills h2 {
  padding: 1em;
  background: rgb(32,29,24);
  background: linear-gradient(0deg, rgba(32,29,24,0.8) 0%, rgba(32,29,24,1) 100%);
}

.cards-box {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  text-align: center;
  width: 10em;
  height: 16em;
  background-color: var(--primary);
  border: 7px solid var(--secondary);
  border-radius: 4px;
  color: white;
  font-size: 1.2em;
  box-shadow: 4px 4px 4px black;
  transform: rotateY(90deg);
  animation: flip 2s ease forwards;
  animation-delay: 0s;
}

#card-1 {
  animation-delay: 0.2s;
}

#card-2 {
  animation-delay: 0.4s;
}

#card-3 {
  animation-delay: 0.6s;
}

#card-4 {
  animation-delay: 0.8s;
}

@keyframes flip {
  from {transform: rotateY(90deg);}
  to {transform: rotateY(0deg);}
}

.card h3 {
  margin: 0;
  padding: 0.5em;
  background-color: var(--orange);
}

.board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile {
  text-align: center;
  padding: 1em;
  width: 25em;
  height: 25em;
  max-width: 25em;
}

.tile h2 {
  margin: 0 auto;
  padding: 0.2em;
  display: inline-block;
  transition: .5s ease;
  border-bottom: medium solid transparent;
}

.tile p {
  color: var(--lightgrey);
}

.tile img:hover {
  opacity: 1;
  width: 100%;
  border-radius: 0;
}

.tile img {
  transition: .5s ease;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 60%;
  opacity: 0.8;
  object-fit: cover;
  object-position: 50% 20%;
}

section {
  text-align: center;
}

section h1 {
  font-size: 2em;
}

.explanation {
  text-align: left;
  padding: 1em;
}

.exp-part {
  margin: 1em;
  padding: 0 1em 0 1em;
  border-left: medium solid var(--darkblue);
}

.exp-part p {
  padding-left: 1em;
}

footer {
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  padding: 1em;
  border-top: 2px solid grey;
  color: white;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
}

footer a:hover {
  color: var(--blue);
}

@media screen and (max-width: 500px) {

  #me-photo img {
    width: 6em;
    left: 1em;
    bottom: 2em;
  }
}

@media (hover: none) {
  .tile img {
    opacity: 1;
    width: 100%;
    border-radius: 0;
  }

  .tile h2 {
    border-color: var(--orange);
  }
}
